%tt-regular{
  font-family: 'TTNorms-Regular', sans-serif;
  font-weight: 400;
}
%tt-bold{
  font-family: 'TTNorms-Bold', sans-serif;
  font-weight: 700;
}
%tt-medium{
  font-family: 'TTNorms-Medium', sans-serif;
  font-weight: 500;
}
