
.product {
  padding: 80px 20px 40px;
  &__slider {
    overflow: hidden ;
    max-width: 1210px;
    margin: 0 auto;
    height: 310px;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    @extend %tt-regular;
    &--text{
      font-size: 21px;
      line-height: 30px;
      color: #FFFFFF;

    }
    &--title{
      font-size: 32px;
      line-height: 38px;
      color: #FFFFFF;
    }
  }

  &__slider-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    line-height: 30px;
    color: #FFFFFF;
    @extend %tt-regular;
  }
  &__pagination{
    display: flex;
    flex-direction: column;
    transform: none!important;
    width: 43%;
  }
}
.swiper-wrapper {
  width: 49.6%;
}
.swiper-pagination-bullet{
  background: none;
  margin-bottom: 10px!important;
  width: 100%;

  height: fit-content;
  font-size: 42px;
  line-height: 50px;
  color: #B3B3BA;
  text-align: right;
  border-radius: 0;
  @extend %tt-bold;
  &-active{
    background: linear-gradient( #EF8080 0.84%, #F0145A 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
}
.swiper-scrollbar{
  background: #E6E6F0;
}
.swiper-scrollbar-drag{
  width: 4px;
  background: #F0145A;
}
.swiper-notification{
  display: none;
}
.swiper-vertical>.swiper-scrollbar{
  top: 50%;
  transform: translate(0,-50%);
  height: 300px;
  width: 4px;
  left: 46.6%;
}