*{
  box-sizing: border-box;
}
// Переменные, миксины, функции
@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";

// CSS-файлы библиотек
@import "vendor/libs";

// Основное
@import "base/fonts";
@import "base/general";

// БЭМ-блоки
@import "../blocks/modules";
.container{
  max-width: 1360px;
  padding: 0 20px;
  margin: 0 auto;
}
.main{
  overflow: hidden;
}
.header-bg{
  background: url("../img/header-bg.jpg")  right  no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 500px;
  overflow: hidden;

}
.wrapper{
  padding-bottom: 30px;
}
.experience-services{
  background: url("../img/bg-heeader_bottom.jpg") no-repeat;
  height: 100%;
  width: 100%;
  background-size: cover;
  border-radius: 0 0 12px 12px;
  position: relative;
  &:before,&:after{
    position: absolute;
    content: '';
    height: 10px;
    border-radius: 0px 0px 12px 12px;
    left: 50%;
    transform: translateX(-50%);
  }
  &:before{
    width: calc(100vw - 40px);
    background: #CACADB;
    bottom: -10px;

  }
  &:after{
    width: calc(100vw - 80px);
    background: #E7E7F2;
    bottom: -20px;
  }
}
.link{
  font-size: 14px;
  line-height: 17px;
  @extend %tt-regular;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  padding-right: 14px;
  text-decoration: none;
  &:before{
    content: '';
    position: absolute;
    height: 12px;
    width: 12px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: url("../img/sprites/arrow.svg");
  }
}
.title{
  font-size: 42px;
  line-height: 50px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  @extend %tt-bold;
}
.text{
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
  @extend %tt-medium;
}